<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MySuit" verbose="1" >
    <test name="Smoke">
        <classes>
            <class name="TestNGex.LoginPage">
                    <methods>
                        <exclude name="mobil.*"></exclude>
                    </methods>
            </class>
            <class name="TestNGex.XyzTest">

            <methods>
                <include name="xTest" />
            </methods>

            </class>

        </classes>

 </test>

    <test name="MiniRegretion">
        <classes>
            <class name="TestNGex.MainPage">
                <methods>
                     <exclude name="cTest"></exclude>
                </methods>
           </class>
        </classes>
    </test>
</suite>
